@import "./rover.css";

h1 {
    text-align: center;
}

img {
    width: 75%;
    height: 100%;
    border: 4px solid blue;
}

.apiButtons {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 100%;
}

.apiButton {
    flex-basis: 50%;
}

.nav_links {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}